.App {
  text-align: center;
  padding: 30px;
  margin: auto;
  max-width: 700px;
  min-width: 300px;
  color: #000;
}
button{
  cursor: pointer;
  margin: 5px;
}
.finished{
  text-decoration: line-through;
}